# Database connection string including credentials.
DATABASE_URL=your_database_url_here

# 1 = True, the default is True, uncomment for another value.
# NADAC_FILTER_BEFORE_INSERT=0

# mm-dd-yyyy separated by commas, no white space, no quotes, no brackets.
NADAC_FILE_DATES=
